<main role="main" class="container">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="my-3 p-3 bg-white rounded box-shadow">
    {{todayDate | date:'fullDate'}}
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
    <span *ngFor="let user of users" routerLink="/posts/{{user.id}}" class="badge badge-info"> {{user.name}} </span>
    <br>
    <br>
    <input class="form-control me-2" type="search" [(ngModel)]="filterText" placeholder="Search" aria-label="Search">
    <div *ngFor="let post of posts | postFilter:filterText" class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">{{post.userId}} | {{post.title | uppercase}}</strong>
        {{post.body}}
        <br>
        <span (click)="addToFavourites(post)" class="badge badge-danger">Fav</span>
      </p>
    </div>
  </div>

</main>